body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, rgb(193, 205, 206), rgb(255, 255, 255));
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	min-width: 420px;
	height: 100px;
}

.menu:hover > .editButton {
	opacity: 1;
	position: absolute;
	top: 1px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	max-width: 600px;
	min-width: 400px;
	padding-right: 30px;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 0 30px 0 30px;
}

.menu:hover {
	box-shadow: 0px 1px 100px 0px;
	border: 0px solid #828282; 
	border-radius: 0px; 

}

#emptyMenu {
	order: -1;
	width: 50px;
}

header .empty:hover::after {
	content: "add menu";
	display: contents;
}

.menu a {
	text-decoration:none;
	color: black;
}

.logo img {
	max-height: 100px;
	max-width: 230px;
	padding: 30px;
}

.content {
	display: flex;
	height: 600px;
	width: 90%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 30px;
	height: max-content;
}

.article {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 30px;
}

.textblock {
	display: flex;
	flex-direction: column;
	border: 2px solid #0000004a;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}

.editButton {
	transition: 0.2s;
	color: red;
	align-self: flex-end;
	background: #ff000000;
	border: 0px;
	opacity: 0;
	position: absolute;
}

.textblock:hover > .editButton{
	transition: 0.1s;
	opacity: 1;
}

.empty {
	background-color: #4f7b6a4d;
	height: inherit;
	text-align: center;
	transition: 0.2s;
	height: 25px;
}

.empty:hover::after {
	content: "add";
	color: black;
	transition: 0.2s;
/*	портит меню
	border: 2px solid #828282;
	border-radius: 25px;*/ 
	width: 50%;
	margin: 0 auto;
}

h1 {
	margin: 0px;
}

.modal {
	display: flex;
	padding: 30px;
	border: 2px solid black;
	border-radius: 25px;
	width: 40%;
	height: 350px;
	z-index: 1;
	position: fixed;
	top: 25%;
	background-color: #4b6875;
	flex-direction: column;
	align-items: center;
}

.modal input {
	width: 50%;
	border: 0;
	height: 25px;
	border-radius: 8px;
	padding: 7px;
}
.modal textarea {
	width: 100%;
	border: 0;
	height: 75px;
	border-radius: 8px;
	padding: 7px;
}

.close {
	display: none;
}

.buttonsBlock {
	display: flex;
	justify-content: space-evenly;
	align-self: stretch;
}

.modalButton {
	width: 45%;
	border-radius: 30px;
	height: 32px;
	border: 0px;
}